<!DOCTYPE html>
<html lang="en">
<script src='/js/jquery.min.js'> </script>
<script src='/js/jquery.js'> </script>
<script src='/js/gupiaoAjax.js'> </script>




<head>
<meta charset="utf-8">
<title>#{prjname} </title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="icon" href="/favicon.ico">
<!--[if lte IE 8]><link rel="stylesheet" href="/respon/responsive-nav.css"><![endif]-->
<!--[if gt IE 8]><!--><link rel="stylesheet" href="/respon/styles.css"><!--<![endif]-->
<!--[if lt IE 9]><script src='/assets/js/ie8-responsive-file-warning.js'></script><![endif]-->
<script src='/assets/js/ie-emulation-modes-warning.js'></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<!--<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'></script> -->
<!--<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js'></script>  -->
<![endif]-->

<script src="/respon/responsive-nav.js"></script>

<link href='/css/buttons.css' rel='stylesheet'>
<link href='/css/bootstrap.min.css' rel='stylesheet'>
<link href='/css/blog.css' rel='stylesheet'>


</head>
<body onload='getPrice()'>
<input type='hidden' id='allcode' value="#{allcode}" >

<div role="navigation" id="foo" class="nav-collapse">
<ul>
<li class="active"><a >Home</a></li>
!{modelist}
<li class="active"><a href='http://localhost:#{port}/projectSelecter' >退出</a></li>
</ul>
</div>
<div role="main" class="main">
<a href="#nav" class="nav-toggle">Menu</a>
<h2>#{prjname} -- 股票资产表</h2>
<a ><p class="intro">Role@user:#{username};       Date:#{date} </p></a>
<br><br><br>
<div class="row-fluid">
<div class="span12">

<table id='table_gupiaoBlance' name= '#{modgupiaoxin}' class="table table-hover"  >
<thead><tr class='info'>
<th  colspan='3'>总资产： #{gupiaoBalance_total}   (人民币)  
<br>  <br>
</th>

<th></th>

<th></th>
<th></th>

<td  colspan='2' >
<a href="/gupiao_balancesheetzhengquan" class="button button-primary button-pill button-small">刷新</a>
</td>

</tr></thead>
				
<tr  class='success'>
<td>股票/代码</td>
<td>购买总数<br>(目前持仓)</td>
<td>持股时长<br>(平均每股)</td>

<td>现价</td>
<td>账面盈亏</td>
<td>交割盈亏<br>(实际盈亏)</td>
<td>收益率<br>(平均每股)</td>

<td>&nbsp;&nbsp;操作&nbsp;&nbsp;</td>
</tr>

!{gupiaoBalancellist }


<thead><tr class='info'>
<th  colspan='8'>
总市值：<lable id='total_val'> </lable> ,  其中 人民币<lable id='rmb_total_value'></lable> ,  港币<lable id='hk_total_value'> </lable>; &nbsp;&nbsp;   账面盈亏总额：<lable id='zhangmian_total_yingli'> </lable>; &nbsp;&nbsp; 实际盈亏总额：<lable id='shiji_total_yingli'> </lable>
</th>


</tr></thead>



</tbody>
</table>




</div>
</div>



</body>
</html>
